.creation{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .form{
    width: 80%;
    height: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left{
      border: 1px solid white;
      width: 48%;
      height: 90%;
      border-radius: 5px;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      padding-bottom: 10px;

      input{
        margin-bottom: 10px;
        width: 300px;
        height: 40px;
      }

      #date{
        height: 20px;
        margin-bottom: 0px;
      }
    }

    &__right{
      border: 1px solid white;
      width: 48%;
      height: 90%;
      border-radius: 5px;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      input{
        margin-bottom: 10px;
        width: 300px;
        height: 40px;
      }
    }
  }

  .saveBtn{
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #00bc77;
  }

  .children{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    // border: 1px solid blue;
    height: 90%;
  }
}